<div class="weekly-container">
  <div class="row form-inline has-info mb-10">
    <div class="col-sm-8">
      <label for="weeklyTitle">周报标题</label>
      <input type="text" class="form-control" ng-model="weeklyForm.weeklyTitle" style="width:80%;" id="weeklyTitle"
             placeholder="产品技术部-PUX用户体验周报">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-block" ng-click="save();">保存</button>
    </div>
  </div>

  <!-- 周报头部 -->
  <table class="table table-weekly">
    <caption>京东金融支付产品技术部</caption>
    <thead>
    <tr>
      <th style="width: 10%;"></th>
      <th style="width: 45%;"><span class="inline-block">产品技术部-产品管理部周报</span></th>
      <th style="width: 45%;">
        <span class="pull-left inline-block js-start-date" contenteditable="true" ng-bind="weeklyForm.startDate"></span>
        <span class="pull-right inline-block js-end-date" contenteditable="true" ng-bind="weeklyForm.endDate"></span>
      </th>
    </tr>
    <tr>
      <th style="width: 10%;">分类</th>
      <th style="width: 45%;">本周总结</th>
      <th style="width: 45%;">下周计划</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="text-middle"><strong>概述</strong></td>
      <td contenteditable="true" ng-bind-html="weeklyForm.summary.week" class="js-summary-week"></td>
      <td contenteditable="true" ng-bind-html="weeklyForm.summary.nextWeek" class="js-summary-nextweek"></td>
    </tr>
    </tbody>
  </table>
  <!-- 周报头部 end-->

  <!-- 周报内容 -->
  <div ng-bind-html="weeklyForm.weeklyContent" class="js-weekly-content"></div>

  <!-- 周报底部 -->
  <div ng-bind-html="weeklyForm.weeklyFooter" class="js-weekly-footer"></div>

  <div class="row mt-10">
    <div class="col-md-offset-8 col-md-2">
      <button type="button" class="btn btn-primary btn-block" ng-click="save();">保存</button>
    </div>
  </div>
</div>
