<div class="weekly-container">
  <div class="row">
    <div class="col-md-12 text-center"><strong>京东金融支付产品技术部</strong></div>
  </div>

  <div class="row">
    <div class="col-md-6"><strong>产品技术部-产品管理部周报</strong></div>
    <div class="col-md-3"><strong>2015年11月2日</strong></div>
    <div class="col-md-3 text-right"><strong>2015年11月8日</strong></div>
  </div>

  <div class="row">
    <div class="col-md-2"><strong>概述</strong></div>
    <div class="col-md-5">
      支持沃易购接入联调并完成上线；大额快捷支付收银台及支付平台方案确认，下周可启动开发；完成未激活会员体系上线影响范围评估；商城与钱包余额融合已确定客服退赔的资金处理方案和小于1000返余风险问题规避方案；金蝶明确合作模式和一期红包需求；永辉超市确认合作模式；钱包一卡通充值研发工作启动；
      小金库开户流程改造金融app前端方案已确认；旺财原生版本上预发验证，主流程畅通，部分交互细节需调整；
      企业站完成对记录中心模块的线上产品验收；平台商户绑定流程和分账流程确定方案；代理商入驻具备上线能力；
      营销平台完成双11版本相关需求和问题的确认；完成后返类型的营销活动的框架梳理和通用逻辑整理；
      企业站产品线问题梳理并重新划分企业站定位和工作内容；运营平台产品线问题梳理并重新划分产品线，调整人员分工，并协调相关协作团队建立项目团队，下周完成立项；
    </div>
    <div class="col-md-5">
      商城余额融合赔退接入钱包沟通转入校验规则及公司转账问题；梳理校园白条、乡村推广等项目发放佣金到钱包余额的需求；确定旺财小金库专享方案，旺财灰度环境验收；
      企业站运营问题跟进优化，完成5个已反馈问题的优化上线；完成付款码、扫一扫产品配置联调，和代理商入驻转运营及培训；
      标准支付产品目录确定；APP收银台错误码提示统一配置开发跟进；完成大额快捷支付项目立项；确定网关及代付最终的入驻流程；同智能贴、京东到家、金融各方对免密支付整体流程和方案达成一致并启动立项；
      三卡融合一期封闭卡新系统结项，二期预付卡开放平台需求评审并推动立项；
      推动核心支付运营能力建设项目组立项；
    </div>
  </div>

  <table class="table table-striped table-hover">
    <caption>工作进展</caption>
    <thead>
    <tr>
      <th style="width: 10%;">分类</th>
      <th style="width: 45%;">本周工作内容</th>
      <th style="width: 45%;">下周计划</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    </tbody>
  </table>

</div>
